<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <style></style>
  </head>

  <body>
    <form class="form-inline global-search">
      <h1 class="title">CUpids</h1>
      <br />
      <h5 class="subtitle">Find a restaurant and movie for you and yours!</h5>

      <br /><br />

      <div class="form-group">
        <input
          id="input"
          type="text"
          name="search"
          class="form-control"
          placeholder="Your Input"
        />
      </div>
      <button type="submit" class="btn btn-info">Go!</button>
    </form>
    <form class="form-inline global-search">
      {% if data %}
      <h1>{{ output_message }}</h1>
      {% for d in data %}
      <br />
      <p>{{ d }}</p>
      {% endfor %} {% endif %}
    </form>
  </body>

  <div
    class="footer"
    style="font-weight: lighter; position: fixed; left: 0; bottom: 0;background-color: #e56a9c; width: 100%; color: white; text-align: center"
  >
    <p>{{ netid }}</p>
  </div>
</html>
